<div class="background">
  <div *ngIf="request">
    <div class="card request-body data-load">
      <div class="card-header card-header-blue">
        <h4 class="card-title">Change Request</h4>
      </div>
      <div class="card-body">
        <p class="card-category">Change Request - {{request.requestId}} </p>
        <form #frmRequest="ngForm" id="frmRequest" (ngSubmit)="submitRequest(frmRequest)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-blue">
                <label class="bmd-label-floating ovr-label">Employee ID</label>
                <input type="text" id="username" class="form-control" [value]="request.user.username" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-blue">
                <label class="bmd-label-floating ovr-label">Employee Name</label>
                <input type="text" id="username" class="form-control" [value]="request.user.firstName" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-blue">
                <label class="bmd-label-floating">Request ID</label>
                <input type="text" class="form-control" id="requestId" #requestId="ngModel" name="requestId"
                  [(ngModel)]="request.requestId" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-blue">
                <label class="bmd-label-floating" *ngIf="request.requestType">Request Type</label>
                <input type="text" class="form-control" id="requestTypeId" disabled value="{{request.requestType.name}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-blue">
                <label class="bmd-label-floating">Status</label>
                <input type="text" class="form-control" id="state" #state="ngModel" name="state" [(ngModel)]="request.state"
                  disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-blue">
                <label class="bmd-label-floating">User</label>
                <input type="text" class="form-control" id="username" disabled value="{{request.user.username}} - {{request.user.firstName}} {{request.user.lastName}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-blue">
                <label class="bmd-label-floating ovr-label">Requested Date</label>
                <input type="date" id="requestDate" class="form-control" #dateRequested="ngModel" name="dateRequested"
                  [(ngModel)]="request.dateRequested" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-blue">
                <label class="bmd-label-floating ovr-label">Modified Date</label>
                <input type="date" id="requestDate" class="form-control" #dateModified="ngModel" name="dateModified"
                  [(ngModel)]="request.dateModified" disabled>
              </div>
            </div>
          </div>

          <div class="req-child-care" *ngIf="request.requestTypeId == 'REQ-T-001'">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating ovr-label">Current Amount</label>
                  <input type="number" id="currentAmount" class="form-control" #currentAmount="ngModel" name="currentAmount"
                    [(ngModel)]="request.currentAmount" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating">Revised Amount</label>
                  <input type="number" id="revisedAmount" class="form-control" #revisedAmount="ngModel" name="revisedAmount"
                    [(ngModel)]="request.revisedAmount" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="req-pension" *ngIf="request.requestTypeId == 'REQ-T-003'">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating ovr-label">Current</label>
                  <input type="number" id="currentAmount" class="form-control" #currentAmount="ngModel" name="currentAmount"
                    [(ngModel)]="request.currentAmount" disabled>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating">Revised</label>
                  <input type="number" id="revisedAmount" class="form-control" #revisedAmount="ngModel" name="revisedAmount"
                    [(ngModel)]="request.revisedAmount" disabled>
                </div>
              </div>
              <div class="col-md-2">
                <mat-checkbox id="optOut" #optOut="ngModel" name="optOut" [(ngModel)]="request.optOut" color="primary">Opt
                  Out</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="req-cycle" *ngIf="request.requestTypeId == 'REQ-T-002'">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating ovr-label">Request for Cycle Scheme</label>
                  <input type="text" id="cycleSchemeRequest" class="form-control" #cycleSchemeRequest="ngModel" name="cycleSchemeRequest"
                    [(ngModel)]="request.cycleSchemeRequest" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-blue">
                  <label class="bmd-label-floating ovr-label">Check Partner List</label>
                  <input type="text" id="cyclePartnerList" class="form-control" #cyclePartnerList="ngModel" name="cyclePartnerList"
                    [(ngModel)]="request.cyclePartnerList" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="req-benifits" *ngIf="request.requestTypeId == 'REQ-T-004'">
            <div class="req-benifits-gym">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-blue">
                    <label class="bmd-label-floating ovr-label">Start Date</label>
                    <input type="date" id="startDate" class="form-control" #startDate="ngModel" name="startDate"
                      [(ngModel)]="request.startDate" disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="req-benifits-season-ticket">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group has-blue">
                    <label class="bmd-label-floating ovr-label">Start Date</label>
                    <input type="date" id="startDate" class="form-control" #startDate="ngModel" name="startDate"
                      [(ngModel)]="request.startDate" disabled>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-blue">
                    <label class="bmd-label-floating ovr-label">Zone From</label>
                    <input type="text" id="zoneFrom" class="form-control" #zoneFrom="ngModel" name="zoneFrom"
                      [(ngModel)]="request.zoneFrom" disabled>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-blue">
                    <label class="bmd-label-floating ovr-label">Zone To</label>
                    <input type="text" id="zoneTo" class="form-control" #zoneTo="ngModel" name="zoneTo" [(ngModel)]="request.zoneTo"
                      disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="req-benifits-taste-card">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-blue">
                    <label class="bmd-label-floating ovr-label">Link</label>
                    <input type="url" id="tasteCardLink" class="form-control" #tasteCardLink="ngModel" name="tasteCardLink"
                      [(ngModel)]="request.tasteCardLink" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-blue">
                <label class="bmd-label-floating ovr-label">Reason</label>
                <textarea rows="3" id="reason" class="form-control" #description="ngModel" name="description"
                  [(ngModel)]="request.description" disabled></textarea>
              </div>
            </div>
          </div>

          <div class="attachment-panel" *ngIf="request.attachmentPath">
            <div class="row">.
              <div class="col-md-12">
                <button class="btn btn-blue" (click)="downloadForm(request.attachmentPath)">Download Form</button>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <button *ngIf="request.state == 'REQUESTED' && currentUser.userType == 'ADMIN'" type="button" rel="tooltip"
                title="Apporve Request" id="btnAppove" class="btn btn-blue" (click)="processCR(request, 'APPROVED')"
                [disabled]="isRunning">
                APPROVE
              </button>
              <button *ngIf="request.state == 'REQUESTED' && currentUser.userType == 'ADMIN'" type="button" rel="tooltip"
                title="Reject Request" id="btnReject" class="btn btn-outline-blue" (click)="processCR(request, 'REJECTED')"
                [disabled]="isRunning">
                REJECT
              </button>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>