<div class="main-content background">
  <div class="container-fluid">
    <div class="loading" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="card data-load" *ngIf="!isLoading">
      <div class="card-header card-header-blue">
        <h4 class="card-title">Request List</h4>
      </div>
      <div class="card-body">
        <div class="search">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field *ngIf="!isLoading">
                <input matInput [formControl]="requestIdFilter" placeholder="Request ID">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field *ngIf="!isLoading">
                <mat-select [formControl]="requestTypeIdFilter" placeholder="Request Type" [(value)]="selectedValue">
                  <mat-option [value]="''" (click)="selectedValue = null"></mat-option>
                  <mat-option *ngFor="let requestType of requestTypes" [value]="requestType.requestTypeId">{{requestType.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="table-responsive requests">

          <table mat-table [dataSource]="dataSource" class="example-table" matSort [hidden]="isLoading">
            <!-- Number Column -->
            <ng-container matColumnDef="requestId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Request ID</th>
              <td mat-cell *matCellDef="let row"><a [routerLink]="['/requests', row.requestId]">{{row.requestId}}</a></td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="requestType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Type</th>
              <td mat-cell *matCellDef="let row">{{row.requestType.name}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">{{row.state}}</td>
            </ng-container>

            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="currentUser.userType != 'ADMIN'">User</th>
              <td mat-cell *matCellDef="let row" [hidden]="currentUser.userType != 'ADMIN'">{{row.username}}</td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Created
              </th>
              <td mat-cell *matCellDef="let row">{{row.dateRequested | date}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef [hidden]="currentUser.userType != 'ADMIN'">
                Actions
              </th>
              <td mat-cell *matCellDef="let row" [hidden]="currentUser.userType != 'ADMIN'">
                <button *ngIf="row.state == 'REQUESTED' && currentUser.userType == 'ADMIN'" type="button" rel="tooltip"
                  title="Apporve Request" id="btnAppove" class="btn btn-success" (click)="processCR(row, 'APPROVED')"
                  [disabled]="row.isRunning">
                  <i class="material-icons">done</i>
                </button>
                <button *ngIf="row.state == 'REQUESTED' && currentUser.userType == 'ADMIN'" type="button" rel="tooltip"
                  title="Reject Request" id="btnReject" class="btn btn-danger" (click)="processCR(row, 'REJECTED')"
                  [disabled]="row.isRunning">
                  <i class="material-icons">close</i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [hidden]="isLoading"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>