<div class="background">
  <div class="card request-body data-load">
    <div class="card-header card-header-blue">
      <h4 class="card-title">Change Request</h4>
      <!--<h5 class="modal-title" id="RequestAccessHRLongTitle">Request Access</h5>-->
    </div>
    <div class="card-body">
      <p class="card-category"></p>
      <form #frmRequest="ngForm" id="frmRequest" (ngSubmit)="submitRequest(frmRequest)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-blue">
              <label class="bmd-label-floating">Request Type</label>
              <mat-select class="form-control" id="requestTypeId" #requestTypeId="ngModel" name="requestTypeId"
                [(ngModel)]="request.requestTypeId">
                <mat-option *ngFor="let requestType of requestTypes" [value]="requestType.requestTypeId">{{requestType.name}}</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-blue">
              <label class="bmd-label-floating ovr-label">Request Date</label>
              <input type="date" id="requestDate" class="form-control" #dateRequested="ngModel" name="dateRequested"
                [(ngModel)]="request.dateRequested" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-blue">
              <label class="bmd-label-floating ovr-label">Reason</label>
              <textarea rows="3" id="reason" class="form-control" #description="ngModel" name="description" [(ngModel)]="request.description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <button type="submit" id="btnRequest" class="btn btn-blue">Create</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>